@import "../globals.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.flip-card {
  @apply w-[270px] h-[400px] hover:-translate-y-1 md:w-[500px] md:h-[300px];
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.flip-card.flipped {
  transform: rotateX(180deg);
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card-inner {
  @apply flex transition-transform duration-150 ease-in cursor-pointer;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.5s;
}

.CardCommon {
  box-shadow: 0px 0px 10px 1px var(--hoverColor);
  background-color: var(--hoverColor);
  color: white;
}

.flip-card-front {
  @apply CardCommon;
}

.flip-card-back {
  @apply CardCommon;
  transform: rotateX(180deg);
}

.card-content {
  @apply flex w-full h-[100%] justify-center items-center p-5;
  overflow-wrap: anywhere;
  white-space: wrap;
  text-overflow: ellipsis;
}